@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@theme {
    --font-josefin: 'Josefin Sans', 'sans-serif';
    --font-lato: 'Lato', 'sans-serif';
}

@theme {
  --color-search: #FB2E86;
  --color-input: #E7E6EF;
  --color-primary: #0D0E43
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
    min-height: 100vh;
}

